@media all and (max-width:1280px) {

#container{
    font-size: 1.5em;
    .first{
        margin-top : 130px;
    }
    .second{
        margin-top : 20px;
    }
    .third{
        margin-top : 20px;
    }
    .menus{
        margin-top:100px;
        margin-bottom: 20px;
    }
    .menus-float{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .middle{
        width:668px;
        height:28px;
        .item{
            width:220px;
            .imgntxt{
                .icons{
                    img{
                        width:46px;
                    }
                }
                .texts{
                    margin-left: 15px;
                    line-height: 33px;
                }
            }
        }
        .delimiter{
            border-left:1px solid #cfcfcf;
            height:28px;
        }

    }
    .mark{
        padding:5px;
    }
    .main-content{
        font-size:0.7em;
        .content{
            padding: 50px 50px 50px 50px;
            .content-head{
                .name-card{
                    padding: 0 20px;
                    margin-right: 30px;
                }
                padding-bottom: 30px;
                margin-bottom: 30px;
            }

            .title{
                font-size:1.7em;
            }
            .blocks{
                margin-top: 10px;
                line-height: 27px;
                font-size:1.2em;
                .tbar{
                    margin-top:30px;
                    .eq{
                        font-size:1.4em;
                    }
                    .deco{

                    }
                    .exp{
                        font-size:0.7em;
                        margin-right:4px;
                    }
                    .icon-area{
                        margin-top:-17px;
                    }
                }
                .pho{
                    .sub-title{
                        font-size:1.3em;
                        margin-top:20px;
                    }
                    .description{
                        color:#666666;
                        margin-top:30px;
                    }
                }
                .center-img{
                    margin-top: 20px;
                }
                .link-block{
                    .link-box{
                        height: 172px;
                        .icons{
                            img{
                                padding:25px;
                            }
                        }
                        .box{
                            margin-top: 70px;
                            margin-right: 20px;
                        }
                        .to{
                            margin-top: 70px;
                            font-size:1.5em;
                        }
                    }
                }
                .description2{
                    margin-top: 30px;
                }
                .contact{
                    margin-top: 18px;
                    .box{
                        width: 100px;
                        height: 28px;
                    }
                    .to{
                        margin-left: 5px;
                    }
                }
                .note{
                    padding:0px 0px 0px 10px;
                    margin: 20px 0px;
                }
                .item{
                    margin-top:30px;
                }
            }
        }
    }
}

}
@media all and (max-width:1024px) {
#container{
    font-size: 1.5em;
    .first{
        margin-top : 130px;
    }
    .second{
        margin-top : 20px;
    }
    .third{
        margin-top : 20px;
    }
    .menus{
        margin-top:100px;
        margin-bottom: 20px;
    }
    .menus-float{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .middle{
        width:668px;
        height:28px;
        .item{
            width:220px;
            .imgntxt{
                .icons{
                    img{
                        width:46px;
                    }
                }
                .texts{
                    margin-left: 15px;
                    line-height: 33px;
                }
            }
        }
        .delimiter{
            border-left:1px solid #cfcfcf;
            height:28px;
        }

    }
    .mark{
        padding:5px;
    }
    .main-content{
        font-size:0.7em;
        .content{
            padding: 50px 50px 50px 50px;
            .content-head{
                .name-card{
                    padding: 0 20px;
                    margin-right: 30px;
                }
                padding-bottom: 30px;
                margin-bottom: 30px;
            }

            .title{
                font-size:1.7em;
            }
            .blocks{
                margin-top: 10px;
                line-height: 27px;
                font-size:1.2em;
                .item{
                    .sub-title{
                        padding-right: 25px;
                    }
                }
                .tbar{
                    margin-top:30px;
                    .eq{
                        font-size:1.4em;
                    }
                    .deco{

                    }
                    .exp{
                        font-size:0.7em;
                        margin-right:4px;
                    }
                    .icon-area{
                        margin-top:-17px;
                    }
                }
                .pho{
                    .sub-title{
                        font-size:1.3em;
                        margin-top:20px;
                    }
                    .description{
                        color:#666666;
                        margin-top:30px;
                    }
                }
                .center-img{
                    margin-top: 20px;
                    img{
                        width:680px;
                    }
                }
                .link-block{
                    .link-box{
                        height: 172px;
                        .icons{
                            img{
                                padding:25px;
                            }
                        }
                        .box{
                            margin-top: 70px;
                            margin-right: 20px;
                        }
                        .to{
                            margin-top: 70px;
                            font-size:1.5em;
                        }
                    }
                }
                .description2{
                    margin-top: 30px;
                }
                .contact{
                    margin-top: 18px;
                    .box{
                        width: 100px;
                        height: 28px;
                    }
                    .to{
                        margin-left: 5px;
                    }
                }
                .note{
                    padding:0px 0px 0px 10px;
                    margin: 20px 0px;
                }
                .item{
                    margin-top:30px;
                }
            }
        }
    }
}

}
@media all and (max-width:768px) {
#container{
    font-size: 1.3em;
    .first{
        margin-top : 130px;
    }
    .second{
        margin-top : 20px;
    }
    .third{
        margin-top : 20px;
    }
    .menus{
        margin-top:100px;
        margin-bottom: 10px;
    }
    .menus-float{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .middle{
        width:480px;
        height:28px;
        .item{
            width:158px;
            .imgntxt{
                .icons{
                    img{
                        width:46px;
                    }
                }
                .texts{
                    margin-left: 5px;
                    line-height: 33px;
                }
            }
        }
        .delimiter{
            border-left:1px solid #cfcfcf;
            height:28px;
        }
        .start{
            display: none;
        }
        .end{
            display: none;
        }


    }
    .mark{
        padding:5px;
    }
    .main-content{
        font-size:0.7em;
        .content{
            padding: 10px 10px 10px 10px;
            .content-head{
                .name-card{
                    padding: 0 20px;
                    margin-right: 30px;
                }
                padding-bottom: 30px;
                margin-bottom: 30px;
            }

            .title{
                font-size:1.7em;
            }
            .blocks{
                margin-top: 10px;
                line-height: 27px;
                font-size:1.2em;
                .tbar{
                    margin-top:30px;
                    .eq{
                        font-size:1.4em;
                    }
                    .deco{

                    }
                    .exp{
                        font-size:0.7em;
                        margin-right:4px;
                    }
                    .icon-area{
                        margin-top:-17px;
                    }
                }
                .pho{
                    .sub-title{
                        font-size:1.3em;
                        margin-top:20px;
                    }
                    .description{
                        color:#666666;
                        margin-top:30px;
                    }
                }
                .center-img{
                    margin-top: 20px;
                    img{
                        width:440px;
                    }
                }
                .link-block{
                    .link-box{
                        height: 110px;
                        .icons{
                            img{
                                width:60px;
                                padding:25px;
                            }
                        }
                        .box{
                            margin-top: 40px;
                            margin-right: 20px;
                        }
                        .to{
                            margin-top: 40px;
                            font-size:1.2em;
                        }
                    }
                }
                .description2{
                    margin-top: 30px;
                }
                .contact{
                    margin-top: 18px;
                    .box{
                        width: 100px;
                        height: 28px;
                    }
                    .to{
                        margin-left: 5px;
                    }
                }
                .note{
                    padding:0px 0px 0px 10px;
                    margin: 20px 0px;
                }
                .item{
                    margin-top:10px;
                    .sub-title{
                        float: left;
                        width: auto;
                        padding: 5px;
                        color: white;
                        background-color: #787878;
                        border-radius: 3px;
                    }
                    .description{
                        border-left:0px;
                        display: inline-block;
                        width: 100%;
                        padding-left: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

}
@media all and (max-width:480px) {
#container {
    font-size: 1.3em;
    .first{
        margin-top : 130px;
        img{
            width: 153px;
        }
    }
    .second{
        margin-top : 20px;
        img{
            width:185px;
        }
    }
    .third{
        margin-top : 20px;
        img{
            width:186px;
        }
    }
    .menus{
        margin-top:100px;
        margin-bottom: 10px;
    }
    .menus-float{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .middle{
        width:320px;
        font-size:0.9em;
        .item{
            width:104px;
            .imgntxt{
                .icons{
                    img{
                        width:30px;
                    }
                }
                .texts{
                    margin-left: 0;
                    line-height: 23px;
                }
            }
        }
        .delimiter{
            border-left:1px solid #cfcfcf;
            height:28px;
        }
        .start{
            display: none;
        }
        .end{
            display: none;
        }


    }
    .mark{
        padding:5px;
    }
    .main-content{
        font-size:0.7em;
        .content{
            padding: 10px 10px 10px 10px;
            .content-head{
                .name-card{
                    padding: 0 20px;
                    margin-right: 30px;
                    img{
                        width:90px;
                    }
                }
                padding-bottom: 30px;
                margin-bottom: 30px;
            }

            .title{
                font-size:1.7em;
            }
            .blocks{
                margin-top: 10px;
                line-height: 27px;
                font-size:1.2em;
                .tbar{
                    margin-top:30px;
                    .eq{
                        font-size:1.4em;
                    }
                    .deco{

                    }
                    .exp{
                        font-size:0.7em;
                        margin-right:4px;
                    }
                    .icon-area{
                        margin-top:-17px;
                    }
                }
                .pho{
                    .sub-title{
                        font-size:1.3em;
                        margin-top:20px;
                    }
                    .description{
                        color:#666666;
                        margin-top:30px;
                    }
                }
                .center-img{
                    margin-top: 20px;
                    img{
                        width:300px;
                    }
                }
                .link-block{
                    font-size:0.9em;
                    .link-box{
                        height: 90px;
                        .icons{
                            img{
                                width:60px;
                                padding:15px;
                            }
                        }
                        .box{
                            margin-top: 30px;
                            margin-right: 20px;
                        }
                        .to{
                            margin-top: 30px;
                            font-size:1.0em;
                        }
                    }
                }
                .description2{
                    margin-top: 10px;
                }
                .contact{
                    margin-top: 18px;
                    .box{
                        width: 100px;
                        height: 28px;
                    }
                    .to{
                        margin-left: 5px;
                    }
                }
                .note{
                    padding:0px 0px 0px 10px;
                    margin: 20px 0px;
                }
                .item{
                    margin-top:10px;
                    .sub-title{
                        float: left;
                        width: auto;
                        padding: 5px;
                        color: white;
                        background-color: #787878;
                        border-radius: 3px;
                    }
                    .description{
                        border-left:0px;
                        display: inline-block;
                        width: 100%;
                        padding-left: 0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

}