#container .over1280{
    font-size: 1.5em;
    .first{
        margin-top : 130px;
    }
    .second{
        margin-top : 20px;
    }
    .third{
        margin-top : 20px;
    }
    .menus{
        margin-top:100px;
        margin-bottom: 20px;
    }
    .menus-float{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .middle{
        width:668px;
        height:28px;
        .item{
            width:220px;
            .imgntxt{
                .icons{
                    img{
                        width:46px;
                    }
                }
                .texts{
                    margin-left: 15px;
                    line-height: 33px;
                }
            }
        }
        .delimiter{
            border-left:1px solid #cfcfcf;
            height:28px;
        }

    }
    .mark{
        padding:5px;
    }
    .main-content{
        font-size:0.7em;
        .content{
            padding: 50px 50px 50px 50px;
            .content-head{
                .name-card{
                    padding: 0 20px;
                    margin-right: 30px;
                }
                padding-bottom: 30px;
                margin-bottom: 30px;
            }

            .title{
                font-size:1.7em;
            }
            .blocks{
                margin-top: 10px;
                line-height: 27px;
                font-size:1.2em;
                .tbar{
                    margin-top:30px;
                    .eq{
                        font-size:1.4em;
                    }
                    .deco{

                    }
                    .exp{
                        font-size:0.7em;
                        margin-right:4px;
                    }
                    .icon-area{
                        margin-top:-17px;
                    }
                }
                .pho{
                    .sub-title{
                        font-size:1.3em;
                        margin-top:20px;
                    }
                    .description{
                        color:#666666;
                        margin-top:30px;
                    }
                }
                .center-img{
                    margin-top: 20px;
                }
                .link-block{
                    .link-box{
                        height: 172px;
                        .icons{
                            img{
                                padding:25px;
                            }
                        }
                        .box{
                            margin-top: 70px;
                            margin-right: 20px;
                        }
                        .to{
                            margin-top: 70px;
                            font-size:1.5em;
                        }
                    }
                }
                .description2{
                    margin-top: 30px;
                }
                .contact{
                    margin-top: 18px;
                    .box{
                        width: 100px;
                        height: 28px;
                    }
                    .to{
                        margin-left: 5px;
                    }
                }
                .note{
                    padding:0px 0px 0px 10px;
                    margin: 20px 0px;
                }
                .item{
                    margin-top:30px;
                    width:1180px;
                    .sub-title{
                        float:left;
                        width:295px;

                    }
                    .description{
                        display: inline-block;
                        border-left:5px solid #939393;
                        width:767px;
                        padding-left:59px;
                    }
                }
            }
        }
    }
}
