#container {
  font-size: 1.3em; }
  #container .first {
    margin-top: 130px; }
    #container .first img {
      width: 153px; }
  #container .second {
    margin-top: 20px; }
    #container .second img {
      width: 185px; }
  #container .third {
    margin-top: 20px; }
    #container .third img {
      width: 186px; }
  #container .menus {
    margin-top: 100px;
    margin-bottom: 10px; }
  #container .menus-float {
    padding-top: 10px;
    padding-bottom: 10px; }
  #container .middle {
    width: 320px;
    font-size: 0.9em; }
    #container .middle .item {
      width: 104px; }
      #container .middle .item .imgntxt .icons img {
        width: 30px; }
      #container .middle .item .imgntxt .texts {
        margin-left: 0;
        line-height: 23px; }
    #container .middle .delimiter {
      border-left: 1px solid #cfcfcf;
      height: 28px; }
    #container .middle .start {
      display: none; }
    #container .middle .end {
      display: none; }
  #container .mark {
    padding: 5px; }
  #container .main-content {
    font-size: 0.7em; }
    #container .main-content .content {
      padding: 10px 10px 10px 10px; }
      #container .main-content .content .content-head {
        padding-bottom: 30px;
        margin-bottom: 30px; }
        #container .main-content .content .content-head .name-card {
          padding: 0 20px;
          margin-right: 30px; }
          #container .main-content .content .content-head .name-card img {
            width: 90px; }
      #container .main-content .content .title {
        font-size: 1.7em; }
      #container .main-content .content .blocks {
        margin-top: 10px;
        line-height: 27px;
        font-size: 1.2em; }
        #container .main-content .content .blocks .tbar {
          margin-top: 30px; }
          #container .main-content .content .blocks .tbar .eq {
            font-size: 1.4em; }
          #container .main-content .content .blocks .tbar .exp {
            font-size: 0.7em;
            margin-right: 4px; }
          #container .main-content .content .blocks .tbar .icon-area {
            margin-top: -17px; }
        #container .main-content .content .blocks .pho .sub-title {
          font-size: 1.3em;
          margin-top: 20px; }
        #container .main-content .content .blocks .pho .description {
          color: #666666;
          margin-top: 30px; }
        #container .main-content .content .blocks .center-img {
          margin-top: 20px; }
          #container .main-content .content .blocks .center-img img {
            width: 300px; }
        #container .main-content .content .blocks .link-block {
          font-size: 0.9em; }
          #container .main-content .content .blocks .link-block .link-box {
            height: 90px; }
            #container .main-content .content .blocks .link-block .link-box .icons img {
              width: 60px;
              padding: 15px; }
            #container .main-content .content .blocks .link-block .link-box .box {
              margin-top: 30px;
              margin-right: 20px; }
            #container .main-content .content .blocks .link-block .link-box .to {
              margin-top: 30px;
              font-size: 1.0em; }
        #container .main-content .content .blocks .description2 {
          margin-top: 10px; }
        #container .main-content .content .blocks .contact {
          margin-top: 18px; }
          #container .main-content .content .blocks .contact .box {
            width: 100px;
            height: 28px; }
          #container .main-content .content .blocks .contact .to {
            margin-left: 5px; }
        #container .main-content .content .blocks .note {
          padding: 0px 0px 0px 10px;
          margin: 20px 0px; }
        #container .main-content .content .blocks .item {
          margin-top: 10px; }
          #container .main-content .content .blocks .item .sub-title {
            float: left;
            width: auto;
            padding: 5px;
            color: white;
            background-color: #787878;
            border-radius: 3px; }
          #container .main-content .content .blocks .item .description {
            border-left: 0px;
            display: inline-block;
            width: 100%;
            padding-left: 0;
            margin-top: 10px; }
