@import url(reset.css);
header {
  position: absolute;
  display: inline-block;
  margin-top: 9px;
  width: 100%;
  border-top: 1px solid #030303; }
  header nav {
    height: 51px;
    background-color: #2B2725; }
    header nav .platform {
      width: 340px;
      margin: 0 auto; }
      header nav .platform li {
        width: 68px;
        height: 59px;
        float: left;
        margin-top: -5px;
        cursor: pointer; }
      header nav .platform .selected {
        background: url("../image/click_back.png") no-repeat; }
      header nav .platform .click {
        display: none; }
      header nav .platform img {
        margin-left: 2px; }

body {
  background-color: #f7f3f0; }

.empty-top {
  background-color: #595957;
  width: 100%;
  height: 60px; }

#container {
  margin: 0 auto;
  overflow-x: hidden; }
  #container .front {
    text-align: center; }
  #container .menus-float {
    margin: 0 auto;
    position: fixed;
    top: 0px;
    display: block;
    background-color: #F7F4F2;
    width: 100%;
    display: none;
    left: 0px; }
  #container .middle {
    margin: 0 auto;
    overflow: hidden; }
    #container .middle .item {
      cursor: pointer;
      color: #616161;
      float: left;
      text-align: center; }
      #container .middle .item .imgntxt {
        display: inline-block;
        vertical-aline: middle; }
        #container .middle .item .imgntxt .icons {
          float: left; }
          #container .middle .item .imgntxt .icons .click {
            display: none; }
        #container .middle .item .imgntxt .texts {
          float: left; }
        #container .middle .item .imgntxt .selected {
          color: black; }
    #container .middle .delimiter {
      float: left;
      width: 1px;
      background-color: white; }
  #container .mark {
    color: white;
    background-color: #787878;
    border-radius: 3px; }
  #container .main-content .content {
    border-top: 1px solid #CBD0D3;
    display: inline-block;
    background-color: white; }
    #container .main-content .content .content-head {
      display: inline-block;
      border-bottom: solid 2px #ccc; }
      #container .main-content .content .content-head .name-card {
        float: left;
        border-right: solid 3px #616161; }
    #container .main-content .content .title {
      color: #222222;
      font-weight: bold; }
    #container .main-content .content .blocks {
      color: #444444; }
      #container .main-content .content .blocks .tbar {
        width: 100%;
        display: inline-block;
        border-bottom: 2px dotted #c8c8c8; }
        #container .main-content .content .blocks .tbar .eq {
          font-weight: bold;
          float: left; }
        #container .main-content .content .blocks .tbar .deco {
          float: left; }
        #container .main-content .content .blocks .tbar .exp {
          color: #989898;
          float: right; }
        #container .main-content .content .blocks .tbar .icon-area {
          float: right; }
      #container .main-content .content .blocks .center-img {
        text-align: center; }
      #container .main-content .content .blocks .link-block {
        background-color: #f7f7f7; }
        #container .main-content .content .blocks .link-block .split-line-right {
          float: right;
          height: 2px;
          width: 50%;
          background: -webkit-gradient(linear, left top, right bottom, from(#bfbfbf), to(#f5f5f5)); }
        #container .main-content .content .blocks .link-block .split-line-left {
          float: left;
          height: 2px;
          width: 50%;
          background: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#bfbfbf)); }
        #container .main-content .content .blocks .link-block .link-box {
          cursor: pointer;
          width: 100%;
          overflow: hidden; }
          #container .main-content .content .blocks .link-block .link-box .icons {
            float: left; }
          #container .main-content .content .blocks .link-block .link-box .box {
            float: left; }
          #container .main-content .content .blocks .link-block .link-box a {
            text-decoration: none;
            color: #444444; }
      #container .main-content .content .blocks .contact .box {
        background-color: white;
        float: left; }
      #container .main-content .content .blocks .note {
        background: url("../image/note-bg.png") repeat;
        border-bottom: 3px solid #D9DADB;
        border-right: 3px solid #D9DADB;
        border-radius: 5px; }
      #container .main-content .content .blocks .r {
        color: #c74247; }
      #container .main-content .content .blocks .t {
        color: #5f9ea0; }
      #container .main-content .content .blocks .item {
        display: inline-block;
        width: 100%; }
        #container .main-content .content .blocks .item .sub-title {
          float: left;
          width: 25%; }
        #container .main-content .content .blocks .item .description {
          display: inline-block;
          border-left: 5px solid #939393;
          width: 65%;
          padding-left: 5%; }

footer {
  border-top: 1px solid #CFCFCF;
  height: 65px;
  width: 100%;
  background-color: white;
  text-align: center;
  line-height: 65px;
  color: #bfbfbf; }
