@import 'reset.css';

header{
    position:absolute;
    display: inline-block;
    margin-top: 9px;
    width: 100%;
    border-top: 1px solid #030303;
    nav{
        height:51px;
        background-color:#2B2725;
        .platform{
            width:340px;
            margin:0 auto;
            li{
                width: 68px;
                height: 59px;
                float:left;
                margin-top: -5px;
                cursor: pointer;
            }
            .selected{
                background: url("../image/click_back.png" ) no-repeat;
            }
            .click{
                display: none;
            }
            img{
                margin-left: 2px;
            }
        }
    }
}

body{
    background-color:#f7f3f0;
}
.empty-top{
    background-color: #595957;
    width: 100%;
    height: 60px;
}
#container{
    margin: 0 auto;
    overflow-x:hidden;
    .front{
        text-align: center;
    }

    .menus-float{
        margin: 0 auto;
        position: fixed;
        top: 0px;
        display: block;
        background-color: #F7F4F2;
        width: 100%;
        display:none;
        left:0px;
    }

    .middle{
        margin:0 auto;
        overflow:hidden;
        .item{
            cursor:pointer;
            color:#616161;
            float:left;
            text-align:center;
            .imgntxt{
                display:inline-block;
                vertical-aline:middle;
                .icons{
                    float:left;
                    .click{
                        display:none;
                    }
                }
                .texts{
                    float:left;
                }
                .selected{
                    color: black;
                }
            }
        }
        .delimiter{
            float:left;
            width:1px;
            background-color: white;
        }

    }
    .mark{
        color:white;
        background-color: #787878;
        border-radius: 3px;
    }

    .main-content{
        .content{
            border-top: 1px solid #CBD0D3;
            display: inline-block;
            background-color: white;

            .content-head{
                display:inline-block;
                .name-card{
                    float:left;
                    border-right: solid 3px #616161;
                }
                .rightdescription{

                }
                border-bottom: solid 2px #ccc;
            }

            .title{
                color:#222222;
                font-weight: bold;
            }
            .blocks{
                color:#444444;
                .tbar{
                    width:100%;
                    display:inline-block;
                    border-bottom: 2px dotted #c8c8c8;
                    .eq{
                        font-weight: bold;
                        float:left;
                    }
                    .deco{
                        float:left;
                    }
                    .exp{
                        color:#989898;
                        float:right;
                    }
                    .icon-area{
                        float:right;
                    }
                }
                .pho{
                    .sub-title{

                    }
                    .description{

                    }
                }
                .center-img{
                    text-align: center;
                }
                .link-block{
                    background-color: #f7f7f7;

                    .split-line-right{
                        float: right;
                        height: 2px;
                        width: 50%;
                        background: -webkit-gradient(linear, left top, right bottom, from(#bfbfbf), to(#f5f5f5));
                    }
                    .split-line-left{
                        float:left;
                        height: 2px;
                        width: 50%;
                        background: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#bfbfbf));
                    }
                    .link-box{
                        cursor: pointer;
                        width:100%;
                        overflow:hidden;
                        .icons{
                            float: left;
                        }
                        .box{
                            float: left;
                        }
                        a{
                            text-decoration: none;
                            color: #444444;
                        }
                    }
                }
                .contact{
                    .box{
                        background-color: white;
                        float:left;
                    }
                }
                .note{
                    background: url("../image/note-bg.png") repeat;
                    border-bottom: 3px solid #D9DADB;
                    border-right: 3px solid #D9DADB;
                    border-radius: 5px;
                }
                .r{ color : #c74247; }
                .t{ color :#5f9ea0; }
                .item{
                    display:inline-block;
                    width:100%;
                    .sub-title{
                        float:left;
                        width:25%;

                    }
                    .description{
                        display: inline-block;
                        border-left:5px solid #939393;
                        width:65%;
                        padding-left:5%;
                    }
                }
            }
        }
    }
}


footer{
    border-top: 1px solid #CFCFCF;
    height: 65px;
    width: 100%;
    background-color: white;
    text-align: center;
    line-height: 65px;
    color: #bfbfbf;
}
